@import utils/fonts
@import utils/vars
@import utils/mixins

$max-width-little: 1200px

+createGrid(6)

html, body
  min-height: 100%

*, *:before, *:after
  box-sizing: border-box
//outline: 1px solid red


body
  min-width: 320px
  position: relative
  line-height: 1.5
  overflow-x: hidden
  color: $color-text
  background-color: $color-background
  margin: 0
  padding: 0
  display: flex
  flex-direction: column
  font-family: 'AdvokatRobota', Arial, sans-serif

h1
  font-size: 2rem
  line-height: 1.2

h1, h2, h3, h4, h5, h6
  text-indent: 0

h2 + h3
  margin-top: 0
  margin-bottom: 0.5rem

main
  padding-top: 150px
  flex-grow: 1
  position: relative
  &.without-breadcrumbs
    padding-top: 100px

  ul
    padding-left: 30px
    list-style: none

    li
      position: relative
      padding-left: 0
      text-indent: 0

      &:before
        background-color: $color-accent
        content: ''
        width: 4px
        height: 4px
        display: block
        top: .7rem
        position: absolute
        left: -10px
        border-radius: 10px

a
  text-decoration: none
  color: $color-text

  &:hover
    text-decoration: underline

header, footer, section
  +full-width

.container
  +content-width-lg

.text-center
  text-align: center

.text-accent
  color: $color-accent

.menu__list--hover
  > li
    &:hover
      > a
        color: $color-accent
        position: relative

        &:after
          content: ''
          display: block
          width: 100%
          height: 3px
          background-color: $color-accent
          position: absolute
          bottom: 0

    a
      &:hover
        text-decoration: none

    &:hover
      ul
        display: block
    ul
      li
        &:hover
          > a
            color: $color-accent
            background: $color-blockquotes
            &:after
              content: ''
              width: 30px
              height: 100%
              background: $color-accent url("/assets/icons/arrow(white).svg") no-repeat center
              background-size: 1.5rem 1.5rem
              display: block
              position: absolute
              right: 0
              top: 0

.menu__list
  list-style: none
  display: flex
  margin-bottom: 0

  li
    margin: 0 10px
    position: relative

  > li
    &.active
      > a
        color: $color-accent
        position: relative

        &:after
          content: ''
          display: block
          width: 100%
          height: 3px
          background-color: $color-accent
          position: absolute
          bottom: 0

    a
      display: block
      padding: 10px 0
    ul
      display: none
      position: absolute
      list-style: none
      padding-left: 0
      background: #fff
      max-height: 300px
      overflow-y: scroll
      z-index: 20
      li
        width: 300px
        padding: 0 30px 0 3px
        margin: 0
        position: relative
        &:before
          content: ''
          display: block
          height: 100%
          width: 3px
          background-color: $color-accent
          position: absolute
          bottom: 0
          left: 0
        a
          padding: 5px
          line-height: 1.3

header
  +box-shadow
  background: $color-background-header
  position: fixed
  z-index: 10

  .menu__btn
    display: none
  .contacts
    display: flex
    justify-content: flex-end

  .container
    display: flex
    justify-content: space-between

  .rightBlock
    display: flex
    flex-direction: column
    justify-content: flex-end

.breadCrumbs
  +box-shadow
  background: $color-background
  width: 100%
  overflow: hidden
  height: 44px
  z-index: 14

  ul
    list-style: none
    display: flex
    padding-left: 20px
    margin: 0
    overflow-x: scroll

    li
      position: relative
      white-space: nowrap
      &:last-child
        padding: 10px 15px

      &:first-child
        a
          position: relative

          &:before
            content: ''
            position: absolute
            background: url("/assets/icons/breadcrumbs.svg") no-repeat
            background-size: contain
            height: 1rem
            width: 1rem
            left: -0.4rem
            top: calc(50% - 0.6rem)

      &:last-child

        &:after
          content: none

      a
        padding: 10px 15px
        display: block
        white-space: nowrap

        &:hover
          color: $color-accent
          text-decoration: none

      &:after
        content: ''
        position: absolute
        background: url("/assets/icons/arrow.svg") no-repeat
        background-size: contain
        height: 1rem
        width: 1rem
        right: -0.5rem
        top: calc(50% - 0.5rem)

.contacts
  text-align: right

  &__phone, &__email

    a
      position: relative
      padding: 10px

      &:before
        @extend %icons

  &__phone
    a
      &:before
        background-image: url("/assets/icons/phone.svg")

    &--light
      font-weight: 200

    &--large
      a
        font-size: 2.375rem
        position: relative
        margin-left: 40px

        &:before
          margin-left: -24px !important
          height: 2.375rem !important
          top: calc(50% - (2.375rem) / 2) !important

  &__email
    margin-right: 20px
    a
      &:before
        background-image: url("/assets/icons/message.svg")

main.without-breadcrumbs
  .hello
    margin-top: -100px
    padding-top: 100px

.hello
  height: 100vh
  overflow: hidden
  background: url("/assets/images/fon-site.jpg") no-repeat center
  background-size: cover
  position: relative
  margin-top: -155px
  padding-top: 155px

  .container, .row
    height: 100%
    position: relative

  .col-4
    display: flex
    flex-direction: column
    z-index: 3
    flex-basis: 50%
    max-width: 50%

  .photo
    display: flex
    flex-direction: column
    justify-content: flex-end
    position: absolute
    bottom: 0
    right: 0
    overflow: hidden
    width: 90%
    height: 90%
    z-index: 2
    flex-basis: 50%
    max-width: 50%

    &__img
      margin-bottom: -10px
      object-fit: contain
      object-position: bottom right

    &__description
      position: absolute
      bottom: 50px
      color: #fff
      right: 0
      text-shadow: 1px 1px 2px black
      max-width: 300px
      &--name
        font-weight: 800
        font-style: italic
        font-size: 1.5rem

      &--position
        margin-top: -10px
  &__title
    line-height: 1
    //font-size: 2.75rem
    //margin: 20px 0
    font-size: 3rem
    margin: 0 0 20px 0
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.4)

  &__place
    font-size: 2.1rem
    margin: 0
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.4)

  &__consultation
    font-size: 1.375rem
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.4)

  .contacts__phone
    a
      text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.4)

  &__tituls
    padding: 5px 0
    position: relative
    font-weight: 600

    &:before
      +box-shadow
      content: ''
      position: absolute
      top: 0
      left: -100%
      width: 200%
      height: 100%
      background: transparentize($color-blockquotes, 0.4)
      $radius: 15px
      border-top-right-radius: $radius
      border-bottom-right-radius: $radius

//    &:after
      position: absolute
      top: 0
      left: 70%
      content: ''
      width: 0
      height: 0
      border-top: 0 solid transparentize($color-blockquotes, 0.4)
      border-left: 114px solid transparentize($color-blockquotes, 0.4)
      border-bottom: 114px solid transparent

.services
  background: url("/assets/icons/libra.svg") no-repeat right
  background-size: contain

  &__list
    display: flex
    max-width: $max-width-little
    position: relative
    margin: 0 auto

    .col-2
      padding: 0 7px
      margin-bottom: 14px

  &__item
    +box-shadow
    display: flex
    flex-direction: column
    background: #fff
    padding: 0 10px 0 34px
    position: relative
    height: 100%

    &:before
      left: 20px
      content: ''
      position: absolute
      display: block
      width: 3px
      height: 90%
      background: $color-accent

    &:hover
      background: $color-accent
      color: #fff
      cursor: pointer

      .services__link
        color: #fff
        text-decoration: underline

        &:after
          background-image: url("/assets/icons/arrow(white).svg")

      &:before
        background: #fff

  &__link
    display: block
    bottom: 0
    right: 0
    padding: 5px 10px
    font-size: 0.75rem
    text-transform: uppercase
    font-weight: 600
    text-align: right

    &:after
      content: ''
      background: url("/assets/icons/arrow.svg") no-repeat
      background-size: contain
      width: 10px
      height: 10px
      display: inline-block
      padding-left: 4px

  &__title
    margin-bottom: 0

  &__text
    flex-grow: 1
    max-height: 16rem
    overflow: hidden

    p
      overflow: hidden
      text-overflow: ellipsis

  &__btn
    text-align: center

    a
      display: inline-block
      border: 2px solid $color-accent
      padding: 5px 15px
      border-radius: 5px
      margin-top: 15px

      &:hover
        background-color: $color-accent
        color: #fff
        text-decoration: none

.warning

  .container
    background: linear-gradient(0, $color-gradient-from, $color-gradient-to)
    padding: 10px 0
    display: flex
    flex-direction: column
    justify-content: center
    margin-top: 30px
    max-width: $max-width-little !important

  a:hover
    text-decoration: underline

  &__lists
    max-width: $max-width-little
    justify-content: center

    .col:first-child
      display: flex
      justify-content: flex-end

.about

  &__tituls, &__video
    display: flex
    justify-content: center

  &__video

    iframe
      border-radius: 10px
      overflow: hidden

.largetext
  &__text
    +box-shadow
    background: #fff
    padding: 10px
    text-indent: 2rem
    position: relative

    table
      text-indent: 0 !important

    h1, h2, h3, h4, h5, h6
      margin-bottom: -0.2rem
    p
      margin: 0.5rem 0 0

    &:before
      content: ''
      width: 60%
      height: 3px
      display: block
      background-color: $color-accent
      position: absolute
      left: 0

.blockquotes
  position: relative
  text-indent: 0 !important

blockquote
  text-indent: 0 !important

  @extend .practice
  padding: 20px 35px 15px !important

  &:before, &:after
    content: '"'
    font-size: 4rem
    font-weight: bold
    position: absolute
    width: 2rem
    height: 2rem
    line-height: 1
    text-indent: 0

  &:before
    top: 5px
    left: 5px

  &:after
    transform: rotate(180deg)
    right: 5px
    bottom: 5px

  &__name
    text-align: right
    font-weight: bold

footer
  background-color: #fff
  margin-top: 30px

  .info
    display: flex
    justify-content: space-between

    .logo, .phone, .contacts
      margin: auto 0

  .cities
    p
      font-weight: 200

  .prakula
    line-height: 50px
    background: #ddd
    padding-right: 0

    > .container
      position: relative

    &__link
      position: absolute
      height: 50px
      right: 0

      img
        height: 50px
        margin-bottom: -5px
      amp-img img
        margin-bottom: 0

.practice
  +box-shadow
  max-width: $max-width-little
  margin: 30px auto
  background: $color-blockquotes
  position: relative
  padding: 15px
  font-weight: bold

.situations

  .container
    max-width: $max-width-little !important
    padding: 0

  ul
    padding-left: 0 !important

  li
    +box-shadow
    padding: 40px 20px 20px
    margin: 0 5px
    background-color: $color-blockquotes

    &:last-child
      margin-right: 0

    &:first-child
      margin-left: 0

    &:before
      border: 20px solid $color-accent
      border-right-color: transparent
      border-bottom-color: transparent
      content: ''
      position: absolute
      top: 0
      left: 0
      background: none
      border-radius: 0

  &__index
    position: absolute
    top: 0
    left: 5px
    color: #fff

.lightboxer-container
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%
  background: rgba(0, 0, 0, .8)
  display: flex
  transition: all 0.2s linear
  z-index: 750
  flex-direction: column
  overflow: hidden
  & *
    -webkit-user-select: none
    -webkit-touch-callout: none
  > img
    object-fit: contain
    max-height: 80%
    max-width: 80%
    width: auto
    height: auto
    margin: auto
  .mobile_menu__wrapper
    background: #ffffff
    height: 100%
    width: 100%

    .logo__wrapper
      width: 100%
      background: #ffffff
      display: flex
      justify-content: space-between
      padding: 0 15px
      position: fixed
      z-index: 30

      .menu__btn--close
        width: 30px
        height: 30px
        margin: auto 0
        img
          height: inherit
          widows: inherit
    .contacts
      width: 100%
      background: #ffffff
      padding-bottom: 10px
      text-align: center
      position: fixed
      margin-top: 87px
      z-index: 30

      &__email
        margin-right: -5px

    .menu__wrapper
      padding: 0 5px
      overflow-y: scroll
      -webkit-overflow-scrolling: touch
      height: 100%

      .menu__list
        flex-direction: column
        margin-top: 87px + 58px
        padding: 0 !important

        .arrow
          &:after
            content: ''
            background: url('/assets/icons/arrow.svg') no-repeat center
            background-size: contain
            transform: rotate(-90deg)
            top: 10px
            right: 10px
            width: 20px
            height: 20px
            display: block
            position: absolute
            transition: all 0.2s linear
          &-close
            &:after
              transform: rotate(90deg)
        > li > ul
          display: block
          margin: 0
          padding: 0 !important
          max-height: none
          position: relative
          li
            width: auto
            a
              cursor: pointer

  > span, > .close
    color: #ffffff
    position: absolute
    background: rgba(0, 0, 0, 0.3)
    cursor: pointer
    display: flex
    width: 50px
    height: 50px
    &:before
      display: block
      margin: auto
      font-size: 25px
  > span
    top: 45vh

    &:first-of-type
      left: 0
      &:before
        content: '\2190'
    &:last-of-type
      right: 0
      &:before
        content: '\2192'
  > .close
    top: 0
    right: 0
    &:before
      content: '\00D7'
      font-size: 50px
      line-height: 1

.about_me
  margin-top: 40px
  .awards
    .row
      padding: 15px 0
      .col
        cursor: pointer
        margin-bottom: 1rem
        &:last-child
          margin-bottom: 0
      img
        max-height: 200px
        object-fit: contain

.contactsPage
  .largetext__text
    text-indent: 0
  .info
    margin-bottom: 10px

@import "plugins/lightboxer"
@import "meida"