.header__contacts--email:before, .header__contacts--phone:before, .first__description--phone:before {
  content: "";
  background-size: contain;
  background-repeat: no-repeat;
  height: 1rem;
  width: 40px;
  display: block;
  position: absolute;
  left: -1rem;
  top: calc(50% - .5rem);
}

@font-face {
  font-family: "AdvokatRobota";
  src: url("/assets/fonts/Roboto-Regular.ttf");
}
@font-face {
  font-family: "AdvokatRobota";
  src: url("/assets/fonts/Roboto-BoldItalic.ttf");
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: "AdvokatRobota";
  src: url("/assets/fonts/Roboto-Light.ttf");
  font-weight: 200;
}
@font-face {
  font-family: "AdvokatRobota";
  src: url("/assets/fonts/Roboto-Medium.ttf");
  font-weight: 600;
}
html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
  height: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  position: relative;
  line-height: 1.5;
  overflow-x: hidden;
  opacity: 1;
  color: #202020;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: "AdvokatRobota", Arial, sans-serif;
}
body main {
  flex-grow: 1;
}

a {
  text-decoration: none;
  color: #202020;
}

header, footer, .fon {
  width: 100%;
}

.content {
  max-width: 1024px;
  margin: 0 auto;
}

header {
  background: #fff;
  position: fixed;
  z-index: 10;
}

.header {
  display: flex;
  justify-content: space-between;
  height: 100px;
}
.header__content--right {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.header__contacts {
  text-align: right;
}
.header__contacts--email {
  padding: 10px;
  position: relative;
  margin-right: 20px;
  font-weight: 200;
}
.header__contacts--email:before {
  background-image: url("/assets/icons/message.svg");
}
.header__contacts--phone {
  padding: 10px;
  position: relative;
  font-weight: 200;
}
.header__contacts--phone:before {
  background-image: url("/assets/icons/phone.svg");
}
.header__menu {
  list-style: none;
  display: flex;
  margin-bottom: 0;
}
.header__menu li {
  margin: 0 10px;
}
.header__menu li.active a, .header__menu li:hover a {
  color: #9d221f;
  position: relative;
}
.header__menu li.active a:after, .header__menu li:hover a:after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: #9d221f;
  position: absolute;
  bottom: 0;
}
.header__menu li a {
  display: block;
  padding: 10px 0;
}

main {
  position: relative;
}

.fon-first {
  background: url("/assets/images/fon-site.jpg") no-repeat center;
  background-size: cover;
  position: relative;
}

.first {
  height: 100vh;
  padding: 100px 0 0 0;
  position: relative;
  display: flex;
}
.first__photo {
  position: absolute;
  bottom: 0;
  right: 0;
  overflow: hidden;
}
.first__photo img {
  margin-bottom: -10px;
  object-fit: contain;
}
.first__photo--description {
  position: absolute;
  bottom: 50px;
  color: #fff;
  left: 50px;
}
.first__photo--description .photo__title {
  font-weight: 800;
  font-style: italic;
  font-size: 1.25rem;
}
.first__photo--description .photo__subtitle {
  margin-top: -10px;
}
.first__description {
  margin: auto 0;
}
.first__description--title {
  line-height: 1;
  font-size: 2.75rem;
  margin: 20px 0;
}
.first__description--subtitle {
  font-size: 2.2rem;
  margin: 0;
}
.first__description--consultation {
  font-size: 1.375rem;
}
.first__description--phone {
  font-size: 2.375rem;
  position: relative;
  margin-left: 40px;
}
.first__description--phone:before {
  margin-left: -30px;
  background-image: url("/assets/icons/phone.svg");
  height: 2.375rem;
  top: calc(50% - (2.375rem) / 2);
}
.first__description--tituls {
  padding: 5px 0;
  position: relative;
  font-weight: 600;
}
.first__description--tituls:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 100px);
  height: 100%;
  background: rgba(242, 242, 242, 0.6);
}
.first__description--tituls:after {
  position: absolute;
  top: 0;
  right: -14px;
  content: "";
  width: 0;
  height: 0;
  border-top: 0 solid rgba(242, 242, 242, 0.6);
  border-left: 114px solid rgba(242, 242, 242, 0.6);
  border-bottom: 114px solid transparent;
}
.first__description--tituls ul {
  padding-left: 30px;
  list-style: none;
}
.first__description--tituls ul li {
  position: relative;
}
.first__description--tituls ul li:before {
  background-color: #9d221f;
  content: "";
  width: 4px;
  height: 4px;
  display: block;
  top: calc(50% - 2px);
  position: absolute;
  left: -10px;
  border-radius: 10px;
}

.fon-services {
  background: url("/assets/icons/libra.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}

.services__title {
  text-align: center;
}
.services__list {
  display: flex;
  margin: 0 200px;
  position: relative;
}
.services__list > div {
  display: flex;
  flex-direction: column;
  width: calc(100% / 3);
  margin: 1rem;
  background: #fff;
  box-shadow: 5px 5px 20px rgba(100, 100, 100, 0.3);
  padding: 0 10px 0 34px;
  position: relative;
}
.services__list > div:hover {
  background: #9d221f;
  color: #fff;
  cursor: pointer;
}
.services__list > div:hover .services__list--link {
  color: #fff;
  text-decoration: underline;
}
.services__list > div:hover .services__list--link:after {
  background-image: url("/assets/icons/arrow(white).svg");
}
.services__list > div:hover:before {
  background: #fff;
}
.services__list > div:before {
  left: 20px;
  content: "";
  position: absolute;
  display: block;
  width: 3px;
  height: 90%;
  background: #9d221f;
}
.services__list--link {
  display: block;
  bottom: 0;
  right: 0;
  padding: 5px 10px;
  font-size: 0.75rem;
  text-transform: uppercase;
  font-weight: 600;
  text-align: right;
}
.services__list--link:after {
  content: "";
  background: url("/assets/icons/arrow.svg") no-repeat;
  background-size: contain;
  width: 10px;
  height: 10px;
  display: inline-block;
  padding-left: 4px;
}
.services__list--title {
  margin-bottom: 0;
}
.services__list--text {
  flex-grow: 1;
  max-height: 14rem;
  overflow: hidden;
}
.services__list--text p {
  overflow: hidden;
  text-overflow: ellipsis;
}
.services__btn--all-services {
  text-align: center;
}
.services__btn--all-services a {
  display: inline-block;
  border: 2px solid #9d221f;
  padding: 5px 15px;
  border-radius: 5px;
  margin-top: 15px;
}
.services__btn--all-services a:hover {
  background-color: #9d221f;
  color: #fff;
}

@media screen and (min-width: 1400px) {
  .content {
    max-width: 1400px;
  }
}
