@font-face {
  font-family: "AdvokatRobota";
  src: url("/assets/fonts/Roboto-Regular.ttf");
}
@font-face {
  font-family: "AdvokatRobota";
  src: url("/assets/fonts/Roboto-BoldItalic.ttf");
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: "AdvokatRobota";
  src: url("/assets/fonts/Roboto-Light.ttf");
  font-weight: 200;
}
@font-face {
  font-family: "AdvokatRobota";
  src: url("/assets/fonts/Roboto-Medium.ttf");
  font-weight: 600;
}
.contacts__phone a:before, .contacts__email a:before {
  content: "";
  background-size: contain;
  background-repeat: no-repeat;
  height: 1rem;
  width: 40px;
  display: block;
  position: absolute;
  left: -1rem;
  top: calc(50% - .5rem);
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col, .col-auto {
  position: relative;
  width: 100%;
  min-height: 1px;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-auto {
  -webkit-box-flex: 0;
}

.container, .container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.col-1 {
  -ms-flex: 0 0 16.6666666667%;
  flex: 0 0 16.6666666667%;
  max-width: 16.6666666667%;
}

.col-2 {
  -ms-flex: 0 0 33.3333333333%;
  flex: 0 0 33.3333333333%;
  max-width: 33.3333333333%;
}

.col-3 {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}

.col-4 {
  -ms-flex: 0 0 66.6666666667%;
  flex: 0 0 66.6666666667%;
  max-width: 66.6666666667%;
}

.col-5 {
  -ms-flex: 0 0 83.3333333333%;
  flex: 0 0 83.3333333333%;
  max-width: 83.3333333333%;
}

.col-6 {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

.col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}

.col-auto {
  width: auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  max-width: none;
}

html, body {
  min-height: 100%;
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  min-width: 320px;
  position: relative;
  line-height: 1.5;
  overflow-x: hidden;
  color: #202020;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  font-family: "AdvokatRobota", Arial, sans-serif;
}

h1 {
  font-size: 2rem;
  line-height: 1.2;
}

h1, h2, h3, h4, h5, h6 {
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
}

h2 + h3 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

main {
  padding-top: 100px;
  flex-grow: 1;
  position: relative;
}
main ul {
  padding-left: 30px;
  list-style: none;
}
main ul li {
  position: relative;
  padding-left: 0;
  text-indent: 0;
}
main ul li:before {
  background-color: #9d221f;
  content: "";
  width: 4px;
  height: 4px;
  display: block;
  top: 0.7rem;
  position: absolute;
  left: -10px;
  border-radius: 10px;
}

a {
  text-decoration: none;
  color: #202020;
}
a:hover {
  text-decoration: underline;
}

header, footer, section {
  width: 100%;
}

.container {
  max-width: 1400px;
}

.text-center {
  text-align: center;
}

.text-accent {
  color: #9d221f;
}

.without-breadcrumbs .hello {
  margin-top: 0;
}

.menu__list {
  list-style: none;
  display: flex;
  margin-bottom: 0;
}
.menu__list li {
  margin: 0 10px;
  position: relative;
}
.menu__list > li.active > a, .menu__list > li:hover > a {
  color: #9d221f;
  position: relative;
}
.menu__list > li.active > a:after, .menu__list > li:hover > a:after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: #9d221f;
  position: absolute;
  bottom: 0;
}
.menu__list > li a {
  display: block;
  padding: 10px 0;
}
.menu__list > li a:hover {
  text-decoration: none;
}
.menu__list > li:hover ul {
  display: block;
}
.menu__list > li ul {
  display: none;
  position: absolute;
  list-style: none;
  padding-left: 0;
  background: #fff;
  max-height: 300px;
  overflow-y: scroll;
  z-index: 20;
}
.menu__list > li ul li {
  width: 300px;
  padding: 0 30px 0 3px;
  margin: 0;
  position: relative;
}
.menu__list > li ul li:before {
  content: "";
  display: block;
  height: 100%;
  width: 3px;
  background-color: #9d221f;
  position: absolute;
  bottom: 0;
  left: 0;
}
.menu__list > li ul li a {
  padding: 5px;
  line-height: 1.3;
}
.menu__list > li ul li:hover > a {
  color: #9d221f;
  background: #F2F2F2;
}
.menu__list > li ul li:hover > a:after {
  content: "";
  width: 30px;
  height: 100%;
  background: #9d221f url("/assets/icons/arrow(white).svg") no-repeat center;
  background-size: 1.5rem 1.5rem;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

header {
  box-shadow: 5px 5px 20px rgba(100, 100, 100, 0.3);
  background: #fff;
  position: fixed;
  z-index: 10;
}
header .menu__btn {
  display: none;
}
header .contacts {
  display: flex;
  justify-content: flex-end;
}
header .container {
  display: flex;
  justify-content: space-between;
}
header .rightBlock {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.breadCrumbs {
  box-shadow: 5px 5px 20px rgba(100, 100, 100, 0.3);
  position: absolute;
  background: #f9f9f9;
  width: 100%;
  overflow: hidden;
  height: 48px;
  z-index: 14;
}
.breadCrumbs ul {
  list-style: none;
  display: flex;
  padding-left: 20px;
  margin: 0;
  overflow-x: scroll;
}
.breadCrumbs ul li {
  position: relative;
  white-space: nowrap;
}
.breadCrumbs ul li:last-child {
  padding: 10px 15px;
}
.breadCrumbs ul li:first-child a {
  position: relative;
}
.breadCrumbs ul li:first-child a:before {
  content: "";
  position: absolute;
  background: url("/assets/icons/breadcrumbs.svg") no-repeat;
  background-size: contain;
  height: 1rem;
  width: 1rem;
  left: -0.4rem;
  top: calc(50% - 0.6rem);
}
.breadCrumbs ul li:last-child:after {
  content: none;
}
.breadCrumbs ul li a {
  padding: 10px 15px;
  display: block;
  white-space: nowrap;
}
.breadCrumbs ul li a:hover {
  color: #9d221f;
  text-decoration: none;
}
.breadCrumbs ul li:after {
  content: "";
  position: absolute;
  background: url("/assets/icons/arrow.svg") no-repeat;
  background-size: contain;
  height: 1rem;
  width: 1rem;
  right: -0.5rem;
  top: calc(50% - 0.5rem);
}

.contacts {
  text-align: right;
}
.contacts__phone a, .contacts__email a {
  position: relative;
  padding: 10px;
}
.contacts__phone a:before {
  background-image: url("/assets/icons/phone.svg");
}
.contacts__phone--light {
  font-weight: 200;
}
.contacts__phone--large a {
  font-size: 2.375rem;
  position: relative;
  margin-left: 40px;
}
.contacts__phone--large a:before {
  margin-left: -24px !important;
  height: 2.375rem !important;
  top: calc(50% - (2.375rem) / 2) !important;
}
.contacts__email {
  margin-right: 20px;
}
.contacts__email a:before {
  background-image: url("/assets/icons/message.svg");
}

.hello {
  height: calc(100vh - 99px);
  overflow: hidden;
  background: url("/assets/images/fon-site.jpg") no-repeat center;
  background-size: cover;
  position: relative;
}
.hello .container, .hello .row {
  height: 100%;
  position: relative;
}
.hello .col-4 {
  display: flex;
  flex-direction: column;
}
.hello .photo {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: absolute;
  bottom: 0;
  right: 0;
  overflow: hidden;
  width: 80%;
  height: 80%;
}
.hello .photo__img {
  margin-bottom: -10px;
  object-fit: contain;
  object-position: bottom;
}
.hello .photo__description {
  position: absolute;
  bottom: 50px;
  color: #fff;
  left: 70px;
  text-shadow: 1px 1px 2px black;
}
.hello .photo__description--name {
  font-weight: 800;
  font-style: italic;
  font-size: 1.25rem;
}
.hello .photo__description--position {
  margin-top: -10px;
}
.hello__title {
  line-height: 1;
  font-size: 2.75rem;
  margin: 20px 0;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.4);
}
.hello__place {
  font-size: 2.1rem;
  margin: 0;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.4);
}
.hello__consultation {
  font-size: 1.375rem;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.4);
}
.hello .contacts__phone a {
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.4);
}
.hello__tituls {
  padding: 5px 0;
  position: relative;
  font-weight: 600;
}
.hello__tituls:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 70%;
  height: 100%;
  background: rgba(242, 242, 242, 0.6);
}
.hello__tituls:after {
  position: absolute;
  top: 0;
  left: 70%;
  content: "";
  width: 0;
  height: 0;
  border-top: 0 solid rgba(242, 242, 242, 0.6);
  border-left: 114px solid rgba(242, 242, 242, 0.6);
  border-bottom: 114px solid transparent;
}

.services {
  background: url("/assets/icons/libra.svg") no-repeat right;
  background-size: contain;
}
.services__list {
  display: flex;
  max-width: 1200px;
  position: relative;
  margin: 0 auto;
}
.services__list .col-2 {
  padding: 0 7px;
  margin-bottom: 14px;
}
.services__item {
  box-shadow: 5px 5px 20px rgba(100, 100, 100, 0.3);
  display: flex;
  flex-direction: column;
  background: #fff;
  padding: 0 10px 0 34px;
  position: relative;
  height: 100%;
}
.services__item:before {
  left: 20px;
  content: "";
  position: absolute;
  display: block;
  width: 3px;
  height: 90%;
  background: #9d221f;
}
.services__item:hover {
  background: #9d221f;
  color: #fff;
  cursor: pointer;
}
.services__item:hover .services__link {
  color: #fff;
  text-decoration: underline;
}
.services__item:hover .services__link:after {
  background-image: url("/assets/icons/arrow(white).svg");
}
.services__item:hover:before {
  background: #fff;
}
.services__link {
  display: block;
  bottom: 0;
  right: 0;
  padding: 5px 10px;
  font-size: 0.75rem;
  text-transform: uppercase;
  font-weight: 600;
  text-align: right;
}
.services__link:after {
  content: "";
  background: url("/assets/icons/arrow.svg") no-repeat;
  background-size: contain;
  width: 10px;
  height: 10px;
  display: inline-block;
  padding-left: 4px;
}
.services__title {
  margin-bottom: 0;
}
.services__text {
  flex-grow: 1;
  max-height: 16rem;
  overflow: hidden;
}
.services__text p {
  overflow: hidden;
  text-overflow: ellipsis;
}
.services__btn {
  text-align: center;
}
.services__btn a {
  display: inline-block;
  border: 2px solid #9d221f;
  padding: 5px 15px;
  border-radius: 5px;
  margin-top: 15px;
}
.services__btn a:hover {
  background-color: #9d221f;
  color: #fff;
  text-decoration: none;
}

.warning .container {
  background: linear-gradient(0, #ffffff, #f4f4f4);
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 30px;
  max-width: 1200px !important;
}
.warning a:hover {
  text-decoration: underline;
}
.warning__lists {
  max-width: 1200px;
  justify-content: center;
}
.warning__lists .col:first-child {
  display: flex;
  justify-content: flex-end;
}

.about__tituls, .about__video {
  display: flex;
  justify-content: center;
}
.about__video iframe {
  border-radius: 10px;
  overflow: hidden;
}

.largetext__text {
  box-shadow: 5px 5px 20px rgba(100, 100, 100, 0.3);
  background: #fff;
  padding: 10px;
  text-indent: 2rem;
  position: relative;
}
.largetext__text h1, .largetext__text h2, .largetext__text h3, .largetext__text h4, .largetext__text h5, .largetext__text h6 {
  margin-bottom: -0.2rem;
}
.largetext__text p {
  margin: 0.5rem 0 0;
}
.largetext__text:before {
  content: "";
  width: 60%;
  height: 3px;
  display: block;
  background-color: #9d221f;
  position: absolute;
  left: 0;
}

.blockquotes {
  position: relative;
}

blockquote {
  padding: 20px 35px 15px !important;
}
blockquote:before, blockquote:after {
  content: '"';
  font-size: 4rem;
  font-weight: bold;
  position: absolute;
  width: 2rem;
  height: 2rem;
  line-height: 1;
  text-indent: 0;
}
blockquote:before {
  top: 5px;
  left: 5px;
}
blockquote:after {
  transform: rotate(180deg);
  right: 5px;
  bottom: 5px;
}
blockquote__name {
  text-align: right;
  font-weight: bold;
}

footer {
  background-color: #fff;
  margin-top: 30px;
}
footer .info {
  display: flex;
  justify-content: space-between;
}
footer .info .logo, footer .info .phone, footer .info .contacts {
  margin: auto 0;
}
footer .cities p {
  font-weight: 200;
}
footer .prakula {
  line-height: 50px;
  background: #ddd;
}
footer .prakula > .container {
  position: relative;
}
footer .prakula__link {
  position: absolute;
  height: 50px;
  right: 0;
}
footer .prakula__link img {
  height: 50px;
  margin-bottom: -5px;
}

.practice, blockquote {
  box-shadow: 5px 5px 20px rgba(100, 100, 100, 0.3);
  max-width: 1200px;
  margin: 30px auto;
  background: #F2F2F2;
  position: relative;
  padding: 15px;
  font-weight: bold;
}

.situations .container {
  max-width: 1200px !important;
  padding: 0;
}
.situations ul {
  padding-left: 0 !important;
}
.situations li {
  box-shadow: 5px 5px 20px rgba(100, 100, 100, 0.3);
  padding: 40px 20px 20px;
  margin: 0 5px;
  background-color: #F2F2F2;
}
.situations li:last-child {
  margin-right: 0;
}
.situations li:first-child {
  margin-left: 0;
}
.situations li:before {
  border: 20px solid #9d221f;
  border-right-color: transparent;
  border-bottom-color: transparent;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: none;
  border-radius: 0;
}
.situations__index {
  position: absolute;
  top: 0;
  left: 5px;
  color: #fff;
}

.lightboxer-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  transition: all 0.2s linear;
  z-index: 750;
  flex-direction: column;
  overflow: hidden;
}
.lightboxer-container span {
  color: #ffffff;
  position: absolute;
  font-size: 2rem;
  padding: 0.5rem;
  text-align: center;
  background: #1a1a1a;
  top: calc(50vh - 2rem);
  cursor: pointer;
}
.lightboxer-container span:first-of-type {
  left: 0;
}
.lightboxer-container span:last-of-type {
  right: 0;
}
.lightboxer-container > img {
  object-fit: contain;
  max-width: 80vw;
  max-height: 80vh;
  margin: auto;
}
.lightboxer-container .menu__wrapper {
  overflow-y: scroll;
  height: 100%;
  padding: 0 10px;
}
@media screen and (max-width: 400px) {
  .lightboxer-container .menu__wrapper {
    padding: 0;
  }
}
.lightboxer-container .container {
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 10;
}
.lightboxer-container .container * {
  background: #fff;
}
.lightboxer-container div {
  background: #fff;
  width: 100%;
}
.lightboxer-container ul {
  padding: 0 !important;
}
.lightboxer-container .menu__list {
  display: block !important;
}
.lightboxer-container .menu__list .arrow:after {
  content: "";
  background: url("/assets/icons/arrow.svg") no-repeat center;
  background-size: contain;
  transform: rotate(-90deg);
  top: 10px;
  right: 0;
  width: 20px;
  height: 20px;
  display: block;
  position: absolute;
  transition: all 0.2s linear;
}
.lightboxer-container .menu__list .arrow-close:after {
  transform: rotate(90deg);
}
.lightboxer-container .menu__list > li > ul {
  display: block;
  position: relative;
  transition: all 0.2s ease-out;
  max-height: none;
}
.lightboxer-container .menu__list li ul li {
  width: auto;
}
.lightboxer-container .menu__list li ul li:hover a:after {
  content: none !important;
}
.lightboxer-container .contacts {
  display: block !important;
  text-align: center;
  margin: 100px 0 0;
}
.lightboxer-container .menu__btn--close {
  width: 30px;
  height: 30px;
  margin: auto 0;
}
.lightboxer-container .menu__btn--close img {
  height: inherit;
  widows: inherit;
}

.about_me {
  margin-top: 80px;
}
.about_me .awards .row {
  padding: 15px 0;
}
.about_me .awards .row .col {
  cursor: pointer;
  margin-bottom: 1rem;
}
.about_me .awards .row .col:last-child {
  margin-bottom: 0;
}
.about_me .awards .row img {
  max-height: 200px;
  object-fit: contain;
}

.contactsPage .largetext__text {
  text-indent: 0;
}

.contacts__phone a:before, .contacts__email a:before {
  content: "";
  background-size: contain;
  background-repeat: no-repeat;
  height: 1rem;
  width: 40px;
  display: block;
  position: absolute;
  left: -1rem;
  top: calc(50% - .5rem);
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col, .col-auto {
  position: relative;
  width: 100%;
  min-height: 1px;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-auto {
  -webkit-box-flex: 0;
}

.o-none {
  opacity: 0 !important;
}

.d-none {
  display: none !important;
}

.overflow-hidden {
  overflow: hidden !important;
}

.contacts__phone a:before, .contacts__email a:before {
  content: "";
  background-size: contain;
  background-repeat: no-repeat;
  height: 1rem;
  width: 40px;
  display: block;
  position: absolute;
  left: -1rem;
  top: calc(50% - .5rem);
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col, .col-auto {
  position: relative;
  width: 100%;
  min-height: 1px;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-auto {
  -webkit-box-flex: 0;
}

@media screen and (max-width: 1399px) {
  .container {
    max-width: 1024px;
    margin: 0 auto;
  }

  .hello__tituls:after {
    content: none;
  }
  .hello__tituls:before {
    width: 100%;
  }

  .services__list, .warning .container, .warning__lists, .practice, blockquote, .situations .container {
    max-width: 900px !important;
  }
}
@media screen and (max-width: 1199px) {
  .hello {
    background-image: url("/assets/images/fon-site-1200.jpg");
  }

  .container {
    width: 960px;
  }

  .hello .photo {
    right: 30px;
  }

  .services__list, .warning .container, .warning__lists, .practice, blockquote, .situations .container {
    max-width: 940px !important;
  }

  .warning .col {
    padding: 0 5px;
  }

  .menu__list li {
    margin: 0 0 0 5px;
  }
}
@media screen and (max-width: 991px) {
  .hello {
    background-image: url("/assets/images/fon-site-1050.jpg");
  }

  .container {
    width: 720px;
  }

  header .container {
    position: relative;
    flex-direction: column;
  }
  header .container .rightBlock .contacts {
    position: absolute;
    right: 0;
    top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  header .container .rightBlock .contacts__email, header .container .rightBlock .contacts__phone {
    margin: 0;
    text-align: center;
  }
  header .container .rightBlock .menu__list {
    padding-left: 0;
    margin: 0;
    display: flex;
    justify-content: center;
  }

  .hello__title {
    font-size: 2.5rem;
  }
  .hello__place {
    font-size: 1.6rem;
    line-height: 1;
  }
  .hello__consultation {
    font-size: 1.1rem;
  }
  .hello__consultation {
    font-size: 1.1rem;
  }
  .hello .col-4, .hello .col-2 {
    flex-basis: 50%;
    max-width: 50%;
  }
  .hello .photo {
    right: -20px;
  }

  .contacts__phone--large a {
    font-size: 1.4rem;
  }
  .contacts__phone--large a:before {
    margin-left: -16px !important;
    height: 2rem !important;
    top: calc(50% - 1rem) !important;
  }

  .services__list, .warning .container, .warning__lists, .practice, blockquote, .situations .container {
    max-width: 700px !important;
  }

  .services__list .col-2 {
    flex-basis: 50%;
    max-width: 50%;
  }

  footer .contacts__phone--large a {
    font-size: 1rem;
    margin-left: 16px;
  }
  footer .contacts__phone--large a:before {
    margin-left: 0 !important;
    height: 1rem !important;
    top: calc(50% - 0.5rem) !important;
  }
}
@Media screen and (min-width: 768px) {
  .hello .col-4 {
    justify-content: center;
  }
}
@media screen and (max-width: 767px) {
  .hello {
    background-image: url("/assets/images/fon-site-800.jpg");
  }

  .container {
    width: 540px;
  }

  .hello {
    text-align: center;
  }
  .hello .col-4 {
    flex-basis: 100%;
    max-width: 100%;
  }
  .hello .col-2 {
    display: none;
  }
  .hello__tituls {
    text-align: left;
  }
  .hello__tituls:after {
    content: none;
  }
  .hello__tituls:before {
    width: 100%;
  }
  .hello__title {
    font-size: 3rem;
  }
  .hello__place {
    font-size: 2rem;
    line-height: 1;
  }

  .contacts__phone--large a {
    font-size: 2rem;
  }
  .contacts__phone--large a:before {
    margin-left: -16px !important;
    height: 2.5rem !important;
    top: calc(50% - 1.25rem) !important;
  }

  .services__list .col-2 {
    flex-basis: 100%;
    max-width: 100%;
  }

  .about__tituls div {
    display: flex;
  }
  .about__tituls div img {
    margin: auto;
  }

  .services__list, .warning .container, .warning__lists, .practice, blockquote, .situations .container {
    max-width: 510px !important;
  }

  .logo img {
    height: 80px;
  }

  header .container .rightBlock .contacts {
    top: 15px;
  }
  header .container .rightBlock .contacts__email:before, header .container .rightBlock .contacts__phone:before {
    left: 0;
  }

  footer .info {
    text-align: center;
    flex-direction: column;
    flex-flow: wrap;
  }
  footer .logo {
    flex-basis: 50%;
    max-width: 50%;
  }
  footer .phone {
    flex-basis: 50%;
    max-width: 50%;
  }
  footer .contacts {
    text-align: center;
    margin-bottom: 10px !important;
    flex-basis: 100%;
  }
  footer .cities {
    display: none;
  }

  .situations .col {
    margin: 10px !important;
  }

  header .container {
    flex-direction: row;
  }
  header .rightBlock .contacts {
    position: relative;
    top: initial;
    right: initial;
  }
  header .menu__btn {
    display: block;
    width: 30px;
    height: 30px;
    margin: auto;
  }
  header .menu__list {
    display: none !important;
  }
  header .contacts {
    display: none !important;
  }
}
@media screen and (max-width: 575px) {
  .hello {
    background-image: url("/assets/images/fon-site-600.jpg");
    height: auto;
    padding-bottom: 10px;
    margin-top: 40px;
  }
  .hello__title {
    font-size: 1.8rem;
    padding-top: 20px;
  }
  .hello__place {
    font-size: 1.4rem;
  }
  .hello .col-4 {
    justify-content: flex-start;
  }

  main {
    padding-top: 85px;
  }

  .container {
    width: auto;
  }

  ul {
    padding-left: 20px !important;
  }

  .warning__lists .col {
    flex-basis: 100%;
    max-width: 100%;
  }

  .contacts__phone--large a {
    font-size: 1.5rem;
  }
  .contacts__phone--large a:before {
    margin-left: -8px !important;
    height: 1.5rem !important;
    top: calc(50% - 0.75rem) !important;
  }

  .services__list .col-2 {
    flex-basis: 100%;
    max-width: 100%;
  }

  .about__tituls {
    flex-direction: column;
  }
  .about__tituls img {
    display: none;
  }

  footer .logo {
    flex-basis: 100%;
    max-width: 100%;
  }
  footer .phone {
    flex-basis: 100%;
    max-width: 100%;
  }
  footer .prakula {
    background: none !important;
    padding-bottom: 10px;
  }
  footer .prakula > div {
    background: #ddd;
  }
  footer .prakula .text-center {
    text-align: left;
  }

  .services__text {
    max-height: 15rem;
  }

  .services__list, .warning .container, .warning__lists, .practice, blockquote, .situations .container {
    max-width: 290px !important;
  }
}
@media screen and (max-height: 480px) {
  header .breadCrumbs {
    height: 32px;
  }
  header .breadCrumbs a {
    font-size: 0.8rem;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
  }
  header .breadCrumbs li:after {
    height: 0.8rem !important;
  }
  header .breadCrumbs li.active {
    font-size: 0.8rem;
    padding-top: 5px !important;
  }

  .hello {
    margin-top: 0;
  }
}
@media screen and (max-width: 768px) and (max-height: 1024px) {
  header .contacts__email, header .contacts__phone {
    text-align: right !important;
  }
}
@media screen and (max-width: 812px) and (max-height: 414px) {
  header .contacts {
    top: 0 !important;
  }

  .hello {
    height: auto;
    padding-bottom: 20px;
    text-align: center;
  }
  .hello__title {
    font-size: 2rem;
  }
  .hello__place {
    font-size: 1.5rem;
  }
  .hello .col-4 {
    flex-basis: 100%;
    max-width: 100%;
  }
  .hello .col-2 {
    display: none;
  }
  .hello__tituls {
    text-align: left;
  }
  .hello__tituls:after {
    content: none;
  }
  .hello__tituls:before {
    width: 100%;
  }
}
@media screen and (max-width: 568px) and (max-height: 320px) {
  .hello__place, .hello__consultation {
    line-height: 1;
  }
  .hello .contacts__phone {
    margin-top: 0;
  }
}
@media screen and (min-width: 768px) {
  .hello .photo {
    background: url("/assets/images/photo.png") no-repeat bottom;
    background-size: contain;
  }
}
