<!DOCTYPE html>
<html lang="ru">
<head></head>
<body>
<header data-template="header">
    <div class="breadCrumbs">
        <div class="container">
            <ul data-container="breadcrumbs"></ul>
        </div>
    </div>
</header>
<main>
    <section class="about_me">
        <div class="container">
            <h1 class="text-center" data-container="page-title"></h1>

            <h2 class="text-center">Образование и опыт работы</h2>
            <div class="largetext__text" data-container="about-experience"></div>

            <h2 class="text-center">Свердловская областная гильдия адвокатов</h2>
            <div class="largetext__text" data-container="about-guild"></div>

            <h2 class="text-center">Адвокатская палата Свердловской области</h2>
            <div class="largetext__text" data-container="about-chamber"></div>

            <h2 class="text-center">Награды и поощрения</h2>
            <div class="largetext__text awards ">
                <div class="row" data-container="about-awards"></div>
            </div>
        </div>
    </section>
</main>
<footer data-template="footer"></footer>
<script src="/assets/js/base.js"></script>
</body>
</html>