<!DOCTYPE html>
<html lang="ru">
<head></head>
<body>
<header data-template="header"></header>
<main class="without-breadcrumbs">
    <section class="hello" data-template="hello"></section>

    <section class="services">
        <div class="container">
            <h2 class="text-center">С какими проблемами работает адвокат?</h2>
            <div class="services__list row">
                <div class="col-2">
                    <div class="services__item">
                        <h4 class="services__title">Адвокат по наркотикам</h4>
                        <div class="services__text">
                            <p><span style="font-size: 12pt;" data-mce-style="font-size: 12pt;"><strong>Статья 228 УК РФ</strong> – одна из немногих, меры ответственности по которой ежегодно ужесточаются. Незаконный оборот наркотиков – преступление, несущее социальную угрозу. Оказать квалифицированную помощь вам сможет профессиональный <strong>уголовный адвокат по наркотикам в Екатеринбурге</strong>.</span>
                            </p>
                        </div>
                        <a class="services__link" href="/uslugi/advokat_po_narkotikam/">Подробнее</a>
                    </div>
                </div>
                <div class="col-2">
                    <div class="services__item">
                        <h4 class="services__title">
                            Адвокат по убийству
                        </h4>
                        <div class="services__text">
                            <p><span style="font-size: 12pt;" data-mce-style="font-size: 12pt;"><strong>Статья 105 УК РФ</strong> - одна из наиболее сложных для рассмотрения в суде и только опытный адвокат, и грамотно выстроенная линия защиты поможет в корне изменить ход уголовного дела</span>
                            </p>
                        </div>
                        <a class="services__link" href="/uslugi/advokat_po_ubiystvu/">Подробнее</a>
                    </div>
                </div>

                <div class="col-2">
                    <div class="services__item">
                        <h4 class="services__title">
                            Адвокат по экономическим преступлениям
                        </h4>
                        <div class="services__text">
                            <p><span style="font-size: 12pt;"
                                     data-mce-style="font-size: 12pt;">Проанализировав материалы дела, <strong>адвокат по экономическим преступлениям</strong> поможет выбрать верную тактику поведения, достичь определенных договоренностей и защитить Ваши интересы.</span>
                            </p>
                        </div>
                        <a class="services__link" href="/uslugi/advokat_po_ekonomicheskim_prestupleniyam/">Подробнее</a>
                    </div>
                </div>

                <div class="col-2">
                    <div class="services__item">
                        <h4 class="services__title">
                            Причинение вреда здоровью
                        </h4>
                        <div class="services__text">
                            <p><span style="font-size: 12pt;" data-mce-style="font-size: 12pt;"><strong>Адвокат по причинению вреда здоровью</strong>&nbsp;поможет разработать для своего клиента грамотную линию защиты, смягчить наказание или изменить квалификацию дела</span>
                            </p>
                        </div>
                        <a class="services__link" href="/uslugi/prichinenie_vreda_zdorovyu/">Подробнее</a>
                    </div>
                </div>

                <div class="col-2">
                    <div class="services__item">
                        <h4 class="services__title">Адвокат для бизнеса</h4>
                        <div class="services__text"><p><span style="font-size: 12pt;" data-mce-style="font-size: 12pt;">Уголовный <strong>адвокат для бизнеса</strong> поможет избежать незаконных и несправедливых обвинений в адрес учредителей и владельцев компании в совершении коммерческих, экономических или налоговых преступлений посредством проведения работы с документацией компании.</span>
                        </p>
                        </div>
                        <a href="/uslugin/advokat_dlya_biznesa/" class="services__link">Подробнее</a></div>
                </div>
                <div class="col-2">
                    <div class="services__item">
                        <h4 class="services__title">Адвокат по должностным преступлениям</h4>
                        <div class="services__text"><p><span style="font-size: 12pt;" data-mce-style="font-size: 12pt;"><strong>Адвокат по должностным преступлениям</strong> поможет выстроить грамотную линию защиты; проверить обоснованность выдвигаемых подозрений, предъявленных обвинений; провести работу со свидетелями; тщательно изучить материалы, а также добиться получения минимального наказания для подсудимого или возмещения морального или материального вреда для потерпевшей стороны.</span>
                        </p>
                        </div>
                        <a href="/uslugin/advokat_po_doljnostnyim_prestupleniyam/" class="services__link">Подробнее</a></div>
                </div>
            </div>
            <div class="services__btn">
                <a href="/uslugi/">Все услуги</a>
            </div>
        </div>
    </section>
    <section class="warning" data-template="warning"></section>

    <section class="about">
        <div class="container">
            <h2 class="text-center">Об адвокате</h2>
            <div class="about__tituls">
                <div>
                    <img src="/assets/images/guild.png" alt="">
                </div>
                <ul>
                    <li>Член Президиума Свердловской областной Гильдии адвокатов</li>
                    <li>В прошлом зам. прокурора Орджоникидзевского р-на г. Екатеринбурга</li>
                    <li>Юридический стаж 20 лет</li>
                </ul>
            </div>
            <!--<div class="about__video">
                <iframe width="560" height="315" src="https:/www.youtube.com/embed/xLho0_vLbZ4?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media"
                        allowfullscreen=""></iframe>
            </div>-->
        </div>
    </section>

    <section class="largetext">
        <div class="container">
            <h2 class="text-center">Услуги адвоката по уголовным делам</h2>
            <div class="largetext__text" data-container="services-criminal-cases"></div>

            <h2 class="text-center">Адвокат по уголовным делам Константин Янышев</h2>
            <h3 class="text-center">Виды помощи, оказываемой адвокатом по уголовным делам подозреваемому(обвиняемому, подсудимому):</h3>
            <div class="largetext__text" data-container="lawyer-criminal-matters"></div>

            <h2 class="text-center">Грамотная защита адвокатом</h2>
            <div class="largetext__text" data-container="competent_advocacy"></div>
        </div>
    </section>

    <section class="blockquotes" data-template="blockquotes"></section>
</main>
<footer data-template="footer"></footer>
<script src="/assets/js/base.js"></script>
</body>
</html>