<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/assets/css/base.min.css">
    <title>Адвокат Янышев</title>
</head>
<body>
<header data-template="header">
    <div class="breadCrumbs">
        <div class="container">
            <ul data-container="breadcrumbs"></ul>
        </div>
    </div>
</header>
<main>
    <section class="contactsPage about_me">
        <h1 class="text-center" data-container="page-title"></h1>
        <div class="container largetext__text" data-container="page-text"></div>
    </section>
</main>
<footer data-template="footer"></footer>
<script src="/assets/js/base.js"></script>
</body>
</html>