<!DOCTYPE html>
<html lang="ru">
<head></head>
<body>
<header data-template="header">
    <div class="breadCrumbs">
        <div class="container">
            <ul data-container="breadcrumbs"></ul>
        </div>
    </div>
</header>
<main>
    <section class="hello" data-template="hello"></section>
    <section class="indictment">
        <div class="container">
            <h1 class="text-center" data-container="service-indictment"></h1>
            <div class="largetext__text" data-container="service-description"></div>
            <div class="practice text-center">
                <p>Адвокат Константин Янышев имеет юридический стаж более 20 лет и защищает граждан, которых обвиняют в уголовно наказуемых преступлениях.
                    Полученный опыт работы в следственныx органах прокуратуры позволяет ему предлагать наиболее верные решения и вырабатывать эффективные методы защиты.</p>
            </div>
        </div>
    </section>

    <section class="services">
        <div class="container">
            <h2 class="text-center">С какими проблемами работает адвокат?</h2>
            <div class="services__list row">
                <div class="col-2">
                    <div class="services__item">
                        <h4 class="services__title">Адвокат по наркотикам</h4>
                        <div class="services__text">
                            <p><span><strong>Статья 228 УК РФ</strong> – одна из немногих, меры ответственности по которой ежегодно ужесточаются. Незаконный оборот наркотиков – преступление, несущее социальную угрозу. Оказать квалифицированную помощь вам сможет профессиональный <strong>уголовный адвокат по наркотикам в Екатеринбурге</strong>.</span>
                            </p>
                        </div>
                        <a class="services__link" href="/uslugi/advokat_po_narkotikam/">Подробнее</a>
                    </div>
                </div>
                <div class="col-2">
                    <div class="services__item">
                        <h4 class="services__title">
                            Адвокат по убийству
                        </h4>
                        <div class="services__text">
                            <p><span><strong>Статья 105 УК РФ</strong> - одна из наиболее сложных для рассмотрения в суде и только опытный адвокат, и грамотно выстроенная линия защиты поможет в корне изменить ход уголовного дела</span>
                            </p>
                        </div>
                        <a class="services__link" href="/uslugi/advokat_po_ubiystvu/">Подробнее</a>
                    </div>
                </div>

                <div class="col-2">
                    <div class="services__item">
                        <h4 class="services__title">
                            Адвокат по экономическим преступлениям
                        </h4>
                        <div class="services__text">
                            <p><span
                            >Проанализировав материалы дела, <strong>адвокат по экономическим преступлениям</strong> поможет выбрать верную тактику поведения, достичь определенных договоренностей и защитить Ваши интересы.</span>
                            </p>
                        </div>
                        <a class="services__link" href="/uslugi/advokat_po_ekonomicheskim_prestupleniyam/">Подробнее</a>
                    </div>
                </div>

                <div class="col-2">
                    <div class="services__item">
                        <h4 class="services__title">
                            Причинение вреда здоровью
                        </h4>
                        <div class="services__text">
                            <p><span><strong>Адвокат по причинению вреда здоровью</strong>&nbsp;поможет разработать для своего клиента грамотную линию защиты, смягчить наказание или изменить квалификацию дела</span>
                            </p>
                        </div>
                        <a class="services__link" href="/uslugi/prichinenie_vreda_zdorovyu/">Подробнее</a>
                    </div>
                </div>

                <div class="col-2">
                    <div class="services__item">
                        <h4 class="services__title">Адвокат для бизнеса</h4>
                        <div class="services__text"><p><span>Уголовный <strong>адвокат для бизнеса</strong> поможет избежать незаконных и несправедливых обвинений в адрес учредителей и владельцев компании в совершении коммерческих, экономических или налоговых преступлений посредством проведения работы с документацией компании.</span>
                        </p>
                        </div>
                        <a href="/uslugi/advokat_dlya_biznesa/" class="services__link">Подробнее</a></div>
                </div>
                <div class="col-2">
                    <div class="services__item">
                        <h4 class="services__title">Адвокат по должностным преступлениям</h4>
                        <div class="services__text"><p><span><strong>Адвокат по должностным преступлениям</strong> поможет выстроить грамотную линию защиты; проверить обоснованность выдвигаемых подозрений, предъявленных обвинений; провести работу со свидетелями; тщательно изучить материалы, а также добиться получения минимального наказания для подсудимого или возмещения морального или материального вреда для потерпевшей стороны.</span>
                        </p>
                        </div>
                        <a href="/uslugi/advokat_po_doljnostnyim_prestupleniyam/" class="services__link">Подробнее</a></div>
                </div>
                <div class="col-2">
                    <div class="services__item">
                        <h4 class="services__title">Адвокат по краже</h4>
                        <div class="services__text"><p><span><strong>Опытный адвокат по краже</strong>&nbsp;сможет свести репутационные и материальные потери обвиняемого к минимуму. В перспективе правильно выстроенная линия защиты, а также консультация юриста помогут и сократить фактический срок отбывания наказания.</span>
                        </p>
                        </div>
                        <a href="/uslugi/advokat_po_kraje/" class="services__link">Подробнее</a></div>
                </div>
                <div class="col-2">
                    <div class="services__item">
                        <h4 class="services__title">Адвокат по присвоению и растрате</h4>
                        <div class="services__text"><p><span>В случае если Вы подозреваетесь либо обвиняетесь в растрате или присвоении чужих денег или имущества по <strong>160 статье УК РФ</strong>, нужно срочно нанять <strong>адвоката</strong>. При своевременном обращении к специалисту можно не только максимально смягчить наказание, но и добиться полного снятия всех обвинений.</span>
                        </p>
                        </div>
                        <a href="/uslugi/advokat_po_160_state_uk_rf/" class="services__link">Подробнее</a></div>
                </div>
                <div class="col-2">
                    <div class="services__item">
                        <h4 class="services__title">Адвокат по разбою</h4>
                        <div class="services__text"><p><span><strong>Адвокат по 162 статье (разбой)</strong> окажет компетентную помощь в представлении интересов обвиняемых в Екатеринбурге</span>
                        </p>
                        </div>
                        <a href="/uslugi/advokat_po_razboyam/" class="services__link">Подробнее</a></div>
                </div>
                <div class="col-2">
                    <div class="services__item">
                        <h4 class="services__title">Адвокат по мошенничеству</h4>
                        <div class="services__text"><p><span><strong>Адвокат по мошенничеству - 159 статье</strong>, способен пресечь её вольное толкование в пользу истца и подготовить доказательную базу невиновности ответчика.</span>
                        </p>
                        </div>
                        <a href="/uslugi/advokat_po_moshennichestvu/" class="services__link">Подробнее</a></div>
                </div>
                <div class="col-2">
                    <div class="services__item">
                        <h4 class="services__title">Адвокат по грабежу</h4>
                        <div class="services__text"><p><span><strong>Адвокат по грабежу&nbsp; - 161 ст. УК РФ</strong> - подберет грамотное правовое решение для каждого конкретного случая обвинения</span>
                        </p>
                        </div>
                        <a href="/uslugi/advokat_po_grabejam/" class="services__link">Подробнее</a></div>
                </div>
                <div class="col-2">
                    <div class="services__item">
                        <h4 class="services__title">Адвокат по вымогательству</h4>
                        <div class="services__text"><p><span>Чем раньше <strong>адвокат (ст. 163 УК РФ)</strong> вступит в дело, тем больше значимых юридических и процессуальных действий он сможет предпринять для представления интересов своего доверителя.</span>
                        </p>
                        </div>
                        <a href="/uslugi/advokat_po_vyimogatelstvam/" class="services__link">Подробнее</a></div>
                </div>
                <div class="col-2">
                    <div class="services__item">
                        <h4 class="services__title">Адвокат по взятке</h4>
                        <div class="services__text"><p><span><strong>Адвокат по ст. 290 и 291 УК РФ</strong> профессиональная помощь по вопросам связанным с получением или дачей взятки.</span>
                        </p>
                        </div>
                        <a href="/uslugi/advokat_po_vzyatkam/" class="services__link">Подробнее</a></div>
                </div>
                <div class="col-2">
                    <div class="services__item">
                        <h4 class="services__title">Уголовный адвокат по ДТП</h4>
                        <div class="services__text"><p><span><strong>Адвокат по ст. 290 и 291 УК РФ</strong> профессиональная помощь по вопросам связанным с получением или дачей взятки.</span>
                        </p>
                        </div>
                        <a href="/uslugi/ugolovnyiy_advokat_po_dtp/" class="services__link">Подробнее</a></div>
                </div>
                <div class="col-2">
                    <div class="services__item">
                        <h4 class="services__title">Адвокат по угону автомобиля</h4>
                        <div class="services__text"><p><span
                        ><strong>Адвокат по ст. "Угон автомобилей" в Екатеринбурге</strong>&nbsp;сможет оказать квалифицированную помощь в зависимости от статуса участия своего доверителя в уголовном деле.</span>
                        </p>
                        </div>
                        <a href="/uslugi/advokat_po_ugonu_avtomobiley/" class="services__link">Подробнее</a></div>
                </div>
                <div class="col-2">
                    <div class="services__item">
                        <h4 class="services__title">Адвокат по хулиганству</h4>
                        <div class="services__text"><p><span><strong>Адвокат по ст. 213 УК РФ (хулиганство)</strong> необходим, чтобы избежать судимости, уменьшить размер наказания или переквалифицировать уголовный состав на административное дело.</span>
                        </p>
                        </div>
                        <a href="/uslugi/advokat_po_st_213_uk_rf/" class="services__link">Подробнее</a></div>
                </div>
                <div class="col-2">
                    <div class="services__item">
                        <h4 class="services__title">Адвокат по самоуправству</h4>
                        <div class="services__text"><p><span><strong>Адвокат по самоуправству </strong>может понадобиться в случае предъявления обвинений о применении самоуправства, повлекшего значительный вред как для конкретного лица, так и для широкого круга лиц. </span>
                        </p>
                        </div>
                        <a href="/uslugi/advoka_po_samoupravstvu/" class="services__link">Подробнее</a></div>
                </div>
                <div class="col-2">
                    <div class="services__item">
                        <h4 class="services__title">Налоговый адвокат</h4>
                        <div class="services__text"><p><span><strong>Адвокат по налоговым спорам</strong> - это профессиональный советник, который помогает предприятиям и гражданам при уплате налогов. </span>
                        </p>
                        </div>
                        <a href="/uslugi/nalogovyiy_advokat/" class="services__link">Подробнее</a></div>
                </div>
                <div class="col-2">
                    <div class="services__item">
                        <h4 class="services__title">Таможенный адвокат</h4>
                        <div class="services__text"><p><span><strong>Адвокат по таможенным делам</strong> оказывает юридическую помощь по представлению интересов в категории таких таможенных преступлений, как контрабанда валюты, алкогольной продукции или наркотических средств и запрещенных к ввозу и вывозу веществ.</span>
                        </p>
                        </div>
                        <a href="/uslugi/tamojennyiy_advokat/" class="services__link">Подробнее</a></div>
                </div>
                <div class="col-2">
                    <div class="services__item">
                        <h4 class="services__title">Адвокат на следствии и дознании</h4>
                        <div class="services__text"><p><span><strong>Присутствие адвоката на стадии предварительного следствия</strong> - необходимая часть защиты, а не просто формальность. Действия юриста по уголовным делам помогут добиться минимального наказания, а то и вовсе избежать его.</span>
                        </p>
                        </div>
                        <a href="/uslugi/advokat_doznanie/" class="services__link">Подробнее</a></div>
                </div>
                <div class="col-2">
                    <div class="services__item">
                        <h4 class="services__title">Адвокат свидетеля</h4>
                        <div class="services__text"><p><span><strong>Адвокат свидетеля</strong> полностью исключит давление на клиента в судебном заседании, а соответственно, и получение от него показаний с нарушением закона.</span>
                        </p>
                        </div>
                        <a href="/uslugi/advokat_svidetelya/" class="services__link">Подробнее</a></div>
                </div>
                <div class="col-2">
                    <div class="services__item">
                        <h4 class="services__title">Адвокат-представитель в уголовном процессе</h4>
                        <div class="services__text"><p><span
                        ><strong>Адвокат - представитель в уголовном процессе</strong>, основной целью которого является обеспечение защиты своего клиента и оказание ему компетентной юридической помощи.</span>
                        </p>
                        </div>
                        <a href="/uslugi/advokat_predstavitel_v_ugolovnom_protsesse/" class="services__link">Подробнее</a></div>
                </div>

                <div class="col-2">
                    <div class="services__item">
                        <h4 class="services__title">Уголовная апелляция</h4>
                        <div class="services__text"><p><span><strong>Адвокат по уголовной аппеляции</strong>&nbsp;поможет разработать для своего клиента грамотную линию защиты, смягчить наказание или изменить квалификацию дела.</span>
                        </p>
                        </div>
                        <a href="/uslugi/ugolovnaya_apellyatsiya/" class="services__link">Подробнее</a></div>
                </div>
                <div class="col-2">
                    <div class="services__item">
                        <h4 class="services__title">Уголовная кассация</h4>
                        <div class="services__text"><p><span>Подготовить и подать кассацию, согласно всем требованиям процессуального закона, Вам поможет <strong>специалист в уголовном праве</strong> Янышев К. В., имеющий немалый опыт подачи подобных жалоб в Екатеринбурге.</span>
                        </p>
                        </div>
                        <a href="/uslugi/ugolovnaya_kassatsiya/" class="services__link">Подробнее</a></div>
                </div>
                <div class="col-2">
                    <div class="services__item">
                        <h4 class="services__title">Пересмотр уголовного дела</h4>
                        <div class="services__text"><p><span
                        ><strong>Пересмотр судебных решений по уголовным делам</strong> является достаточно сложным процессом. Для этого необходимо найти веские причины, которые помогут убедить суд отойти от позиции предыдущих инстанций, а это под силу только опытному адвокату.</span>
                        </p>
                        </div>
                        <a href="/uslugi/peresmotr_ugolovnogo_dela/" class="services__link">Подробнее</a></div>
                </div>

                <div class="col-2">
                    <div class="services__item">
                        <h4 class="services__title">Адвокат по УДО</h4>
                        <div class="services__text"><p><strong>Услуги адвоката по УДО</strong> – это квалифицированная юридическая помощь грамотного специалиста, направленная на
                            разрешение проблемы и достижение нужного результата в соответствии с законом.</p>
                        </div>
                        <a href="/uslugi/advokat_po_udo/" class="services__link">Подробнее</a></div>
                </div>
            </div>
        </div>
    </section>

    <section class="warning" data-template="warning"></section>

    <section class="">
        <div class="container">
            <h2 class="text-center" data-container="service-title"></h2>
            <div class="largetext__text" data-container="service-text"></div>
        </div>
    </section>
    <section class="blockquotes" data-template="blockquotes"></section>
</main>
<footer data-template="footer"></footer>
<script src="/assets/js/base.js"></script>
</body>
</html>