<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/assets/css/base.min.css">
    <title>Адвокат Янышев</title>
</head>
<body>
<header data-template="header">
    <div class="breadCrumbs">
        <div class="container">
            <ul data-container="breadcrumbs"></ul>
        </div>
    </div>
</header>
<main>
    <section class="hello" data-template="hello"></section>
    <section class="indictment">
        <div class="container">
            <h1 class="text-center" data-container="service-indictment"></h1>
            <div class="largetext__text" data-container="service-description"></div>
            <div class="practice text-center">
                <p>Адвокат Константин Янышев имеет юридический стаж более 20 лет и защищает граждан, которых обвиняют в уголовно наказуемых преступлениях.
                    Полученный опыт работы в следственныx органах прокуратуры позволяет ему предлагать наиболее верные решения и вырабатывать эффективные методы защиты.</p>
            </div>
        </div>
    </section>

    <section class="services">
        <div class="container">
            <h2 class="text-center">С какими проблемами работает адвокат?</h2>
            <div class="services__list row">
                <div class="col-2">
                    <div class="services__item">
                        <h4 class="services__title">Адвокат по наркотикам</h4>
                        <div class="services__text">
                            <p>Статья 228 УК РФ – одна из немногих, меры ответственности по которой ежегодно ужесточаются. Незаконный оборот наркотиков – преступление, несущее
                                социальную угрозу.</p>
                        </div>
                        <a class="services__link" href="/uslugi/advokat_po_narkotikam/">Подробнее</a>
                    </div>
                </div>
                <div class="col-2">
                    <div class="services__item">
                        <h4 class="services__title">Адвокат по убийству</h4>
                        <div class="services__text">
                            <p>В случае привлечения к ответственности, осуществить должную защиту прав и интересов подозреваемому (обвиняемому) сможет
                                только
                                квалифицированный адвокат.</p></div>
                        <a class="services__link" href="/uslugi/advokat_po_ubiystvu/">Подробнее</a>
                    </div>
                </div>

                <div class="col-2">
                    <div class="services__item">
                        <h4 class="services__title">Адвокат по экономическим преступленияма</h4>
                        <div class="services__text">
                            <p>Помощь профессионального адвоката по экономическим преступлениям требуется при уголовном преследовании в сфере
                                хозяйственной деятельности, причиной которого может послужить уклонение от уплаты налогов.</p>
                        </div>
                        <a class="services__link" href="/uslugi/advokat_po_ekonomicheskim_prestupleniyam/">Подробнее</a>
                    </div>
                </div>

                <div class="col-2">
                    <div class="services__item">
                        <h4 class="services__title">Адвокат по мошенничеству</h4>
                        <div class="services__text">
                            <p>В России возбуждается огромное количество дел по 159 статье УК РФ «Мошенничество», определяемое как хищение чужого
                                имущества или приобретения права на него путем обмана или злоупотребления</p></div>
                        <a class="services__link" href="/uslugi/advokat_po_moshennichestvu/">Подробнее</a>
                    </div>

                </div>

                <div class="col-2">
                    <div class="services__item">
                        <h4 class="services__title">Адвокат для бизнеса</h4>
                        <div class="services__text">
                            <p>Уголовный адвокат для бизнеса поможет избежать незаконных и несправедливых обвинений в адрес учредителей и владельцев
                                компании в совершении коммерческих, экономических или налоговых преступлений.</p></div>
                        <a class="services__link" href="/uslugi/advokat_dlya_biznesa/">Подробнее</a>
                    </div>

                </div>

                <div class="col-2">
                    <div class="services__item">
                        <h4 class="services__title">Адвокат по должностным преступленияма</h4>
                        <div class="services__text">
                            <p>Судебные разбирательства по должностным преступлениям редко заканчиваются в пользу обвиняемого по одной причине:
                                потерпевшим оказывается не только частное лицо, которому навредило то или иное действие, но и государство.</p></div>
                        <a class="services__link" href="/uslugi/advokat_po_doljnostnyim_prestupleniyam/">Подробнее</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="warning" data-template="warning"></section>

    <section class="">
        <div class="container">
            <h1 class="text-center"></h1>
            <div class="largetext__text" data-container="service-text"></div>
        </div>
    </section>
    <section class="blockquotes" data-template="blockquotes"></section>
</main>
<footer data-template="footer"></footer>
<script src="/assets/js/base.js"></script>
</body>
</html>