<div class="container">
    <div class="logo">
        <a href="/" class="logo__link">
            <img class="logo__img" src="/assets/images/logo-site(1).png" alt="">
        </a>
    </div>
    <div class="rightBlock">
        <div class="contacts">
            <div class="contacts__cities">
                <button>Екатеринбург</button>
                <ul>
                    <li><a href="/">Екатеринбург</a></li>
                    <li><a href="/tagil/">Нижний Тагил</a></li>
                    <li><a href="/chelyabinsk/">Челябинск</a></li>
                    <li><a href="/tyumen/">Тюмень</a></li>
                    <li><a href="/magnitogorsk/">Магнитогорск</a></li>
                    <li><a href="/surgut/">Сургут</a></li>
                </ul>
            </div>
            <div class="contacts__email">
                <a class="" href="mailto:yanyshev.constantin@yandex.ru">yanyshev.constantin@yandex.ru</a>
            </div>
            <div class="contacts__phone">
                <a class="" href="tel:+7 (912) 631-20-28">+7 (912) 631-20-28</a>
            </div>
            <div class="contacts__fb">
                <a href="https://www.facebook.com/profile.php?id=100008238392263" target="_blank">
                    <img src="/assets/icons/facebook.png" alt="facebook">
                </a>
            </div>
        </div>
        <div class="btn menu__btn">
            <img src="/assets/icons/menu(black).svg" alt="">
        </div>
        <nav>
            <ul class="menu__list menu__list--hover" data-global-container="header-menu"></ul>
        </nav>
    </div>
</div>